/////////////////////////////////////////////////////////ABOUT PAGE//////////////////////////////////////////////////////////////////////

.header-about{
    @include header;
    }
    .h3-about-span{
      color: hotpink;
    }
    
    .images2{
      width: 600px;
      height:500px;
      margin-top: -100%;
      margin-left:110%;
      border: 1px solid rgb(255, 255, 255);
      background-image: url(../images/about5.jpg);
      background-size: cover;
    }
    
    .whoWeAre{
      width: 1514px;
      height: 500px;
      border: #ffffff 1px solid;
      margin-top: 25%;
       .info-video{
         width: 700px;
         height: 500px;
         border: #ffffff 1px solid;
    
       }
       .whoWeAre-des{
        width: 774px;
        height: 500px;
        border: #ffffff 1px solid;
        margin-left: 49%;
        margin-top: -33.3%;
    
        .wwhead{
          width: 774px;
          height: 100px;
          border: #ffffff 1px solid;
        }
        .vision{
          width: 350px;
          height: 200px;
          border: #ffffff 1px solid;
          text-align: center;
        }
        .mission{
          width: 350px;
          height: 200px;
          border: #ffffff 1px solid;
          text-align: center;
        }
        .help{
          width: 350px;
          height: 200px;
          border: #ffffff 1px solid;
          margin-top: -52%;
          margin-left: 370px;
          text-align: center;
        }
        .support{
          width: 350px;
          height: 300px;
          border: #ffffff 1px solid;
          margin-left: 382px;
          
        }
       }
    }
    .stats3{
      margin-top: 90px;
      width: 1514px;
      height: 300px;
      border: #000000 1px solid;
      background-color: #000000;
      text-align: center;
      .webDesign {
        height: 300px;
        width: 378px;
        border: #000000 1px solid;
        p{
          color: white;
        }
      }
      .branding{
        height: 300px;
        width: 378px;
        border: #000000 1px solid;
        margin-top:-20%;
        margin-left: 25%;
        p{
          color: white;
        }
      }
      .photography{
        height: 300px;
        width: 378px;
        border: #000000 1px solid;
        margin-top:-20%;
        margin-left: 50%;
        p{
          color: white;
        }
      }
      .printDesign{
        height: 300px;
        width: 378px;
        border: #000000 1px solid;
        margin-top:-20%;
        margin-left: 75%;
        p{
          color: white;
         
        }
      }
    }

    /////////////////////Circular bars/////////////

      
      .circular-bar {
        text-align: center;
        width: 30%;
        margin-left: 110px;
       margin-top: 20px;
      }
      .circular-bar .circular-bar-content {
        margin-bottom: 40px;
        margin-top: -95px;
        text-align: center;
      }
      .circular-bar .circular-bar-content strong {
        display: block;
        font-weight: 600;
        font-size: 18px;
        font-size: 1.125rem;
        line-height: 1.5rem;
        line-height: 24px;
      }
      .circular-bar .circular-bar-content label {
        display: block;
        font-weight: 300;
        font-size: 15px;
        font-size: 0.9375rem;
        line-height: 1.25rem;
        line-height: 20px;
      }
      
      