//////////////////////////////////////////////////////////////COURSE PAGE STYLES////////////////////////////////////
.header-courses{
    @include header;
  }
  


/////////////////////////////////////////////CART SECTION///////////////////////////////////////////////////

////////////////////////CART CHECKOUT

#cart-container{
  position: sticky;
  top: 110px;
  z-index: 0;
  margin-left:1100px; 
  border: rgb(255, 255, 255) 1px solid; 
  width: 400px;
  height: 400px;
}


////////CART BUTTONS

.plus-item, .subtract-item, .delete-item,{
  position: relative;
  width: 30px;
  height: 30px;
  padding: 0px;
  margin: 0px;
  border: 0px;
}
.plus-item{
  background-color: rgb(25, 248, 25);
}
.subtract-item{
  background-color: rgb(243, 207, 0);
}
.delete-item{
  background-color: rgb(238, 3, 3);
}

#clear-cart
.item-count{
  color: white;
}
///////////////////////////ACCORDION///////////////
* {
	font-family: "Raleway", helvetica, sans-serif;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
		text-transform: uppercase;
    background-color: rgb(204, 5, 81);;
    color: white;;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-left: 25%;
  
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: rgb(175, 6, 90);
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    width: 50%;
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
    margin-left: 25%;
    text-align: center;
		ul {
			padding-left: 0;
			li {
				list-style-type: none;
			}
		}
}

div.panel.show {
    opacity: 1;
  max-height: 1000px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

// #course-img{
// width: 300px;
// height: 250px;
// border: #141414 1px solid;
// margin-left: 70%;
// // margin-top: 15%;
// }

////////////////////////////////////SNACKBAR/////////////////////////////////
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: rgb(235, 2, 118);
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////CARDS//////////////////////////////////////////////////
#beginnerC{
  margin-left: 1%;
}

#intro-code{
width: 400px;
height: 1125px;
border: 1px solid rgb(255, 255, 255);
text-align: center;
  .intro-code_img{
    width: 200px;
    height: 200px;
    border: 1px solid rgb(255, 255, 255);
    margin-left: 100px;
  }
  .intro-code1{
    width: 400px;
    height: 300px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
  }
  .intro-code2{
    margin-top: 10px;
    width: 400px;
    height: 300px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
  }
  .intro-code3{
    margin-top: 10px;
    width: 400px;
    height: 300px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
  }
}

#intro-music{
  width: 400px;
  height: 800px;
  border: 1px solid rgb(255, 255, 255);
  margin-left: 30%;
  margin-top: -75%;
  text-align: center;
  .intro-music_img{
    width: 200px;
    height: 200px;
    border: 1px solid rgb(255, 255, 255);
    margin-left: 100px;
  }
  .intro-music1{
    width: 400px;
    height: 300px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
  }
  .intro-music2{
    margin-top: 10px;
    width: 400px;
    height: 300px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
  }
}
#intro-animate{
  width: 400px;
  height: 800px;
  border: 1px solid rgb(255, 255, 255);
  margin-left: 60%;
  margin-top: -53.5%;
  text-align: center;
  .intro-animate_img{
    width: 200px;
    height: 200px;
    border: 1px solid rgb(255, 255, 255);
    margin-left: 100px;
  }
  .intro-animate1{
    width: 400px;
    height: 300px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
  }
  .intro-animate2{
    margin-top: 10px;
    width: 400px;
    height: 300px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
  }
}


////////////////////////////////////////////
#beginCourse{
  margin-top: 400px;
  margin-left: 20px;
}

.begin-javascript1{
  width: 400px;
  height: 300px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
  text-align: center;
}


.begin-frontEnd1{
  width: 400px;
  height: 300px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
  text-align: center;
}
#begin-frontEnd{
  margin-left: 460px;
  margin-top: -31%;
}


.begin-python1{
  width: 400px;
  height: 300px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
  text-align: center;
}
#begin-python{
 margin-left: 930px;
 margin-top: -31%;
}

.inter-Fulljavascript1{
  width: 400px;
  height: 300px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
  text-align: center;

}
#inter-javascript{
  margin-left: 20px;
}

.inter-websiteDeployment{
  width: 400px;
  height: 300px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
  text-align: center;
}
#inter-frontEnd{
  margin-left: 460px;
  margin-top: -30.5%;
}

.innovChallenge1{
  width: 300px;
  height: 300px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
  text-align: center;
}
#innovChallenge{
  margin-left: 20px;
}

.codeStorm1{
  width: 300px;
  height: 300px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
  text-align: center;
}
#codeStorm{
  margin-left: 380px;
  margin-top: -30.5%;
}

.Hackathon{
  width: 300px;
  height: 300px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
  text-align: center;
}
#hackathon{
  margin-left: 760px;
  margin-top: -30.5%;
}
.industryImmersion{
  width: 300px;
  height: 300px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
  text-align: center;
}
#industry_Immersion{
  margin-left: 1160px;
  margin-top: -30.5%;
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
#prospectus{
  margin-top: 200px;
}
.mybutt3{
  @include main-button;
	background-color:rgb(129, 126, 126);
  border:2px solid rgb(14, 177, 241);
	
}
//////////////////////////////////////////////////////////////////
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 400px;
  top: 50;
  width: 50%; /* Full width */
  height: 50%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  color: white;
  background-color: rgb(177, 1, 133); /* Fallback color */
  // background-color: rgba(255, 255, 255); /* Black w/ opacity */
  border-radius: 5px;
}

/* Modal Content */
.modal-content {
  background-color: #000000;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}