////////////////////////////////////////////MEDIA QUERIES////////////////////////////////////////

///////////////////////////////////////////////////INDEX PAGE/////////////////////////////////////////
@media screen and (max-width: 640px){
body{
  width: 1514px;
}
.navigation-bar{
  display: none;
}
    .description{
     
      margin-left: 200px;
      width: 640px;
      .images{
        margin-top: 50px;
        margin-left: 0px;
      }
    }
    .stats{
      justify-content: center;
      margin-top: 1000px;
      width: 1500px;
      height: 1500px;
      .coding, .communication, .problem-solving, .career-guidance{
        margin-left: 500px;
        margin-top: 0;
      }
    }
    .stats2{
      width: 1500px;
      height: 1500px;
    
      .cups, .nogirl, .projects, .hours{
        margin-left: 500px;
        margin-top: 0;
      }
    }
    .sub{
        margin-left: 500px;
      }
    .team, .team1, .team2, .team3, .team4{
      margin-top: 20px;
      margin-left: 500px;
    }
    .team1-des, .team2-des, .team3-des, .team4-des{
      margin-top: 10px;
      margin-left: 500px;
    
    }
   
.hero{
  width: 100%
}
#hero-text{
  margin-left: 500px;
  margin-right: 50px;
  padding: 20px;
  font-size: 0.6em;
  top: 20px;
  animation-name: slideDown;
  animation-duration: 1s;

  @keyframes slideDown {
      0% {
          top: -150px;
          opacity: 0;
      }
      50% {
          top: 0px;
          opacity: 0;
      }
      100% {
          top: 120px;
          opacity: 1;
      }
  }
  }
}
    ///////////////////////////////////////////////////////////////////////////////////
    ////navigation
