////////////////////////////////////////////////////VARIABLES///////////////////////////////////////////////
$gallery-width: 100%;
$transition-duration: 0.5s;


$borderSettings: none;

/////////////////////////////////////MIXINS///////////////////////////////////////////////////////////////////////
@mixin port-img-dimensions{
    width: 290px;
    height: 220px;
  }
  @mixin about-img-dimensions{
  width: 290px;
  height: 240px;
  }
  @mixin position{  ///positioning for portfolio and team sections
    margin-top: 70px;
    margin-left: 15%;
    width: 700px;
    height: 100px;
    font-size: 1rem;
  }
  @mixin team-box-position{
    width: 230px;
    height: 230px;
  }
  @mixin stat2-box-size{
    width: 373px;
    height: 390px;
  
  }
  @mixin header {
    width: 1515px;
    height: 200px;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    background-color: #f2f2f2;
     a{
       text-decoration: none;
       color: black;
     }
     text-transform: uppercase;
  }


  
  $red:#F44336;
  @mixin transition($in) {
    transition:$in;
    -webkit-transition:$in;
    -moz-transition:$in;
    -o-transition:$in;
    -ms-transition:$in;
  }
  @mixin transform($in) {
    transform:$in;
    -webkit-transform:$in;
    -moz-transform:$in;
    -o-transform:$in;
    -ms-transform:$in;
  }
  @mixin animation($in) {
    animation:$in;
    -webkit-animation:$in;
    -moz-animation:$in;
    -o-animation:$in;
    -ms-animation:$in;
  }

////////////////////////////////////////////////////////////////////
// Main Button Style

@mixin main-button{
  outline:none;
	border:none;
	padding:15px;
	display:block;
	margin:20px 0px;
	cursor:pointer;
  font-size:20px;
  position:relative;
}

