//////////////////////////////////////////////////////////////PORTFOLIO PAGE STYLES////////////////////////////////////

.header-portfolio{
    @include header;
  }
  
  .empty-space{
    height: 100px;
    width: 1515px;
  
    margin-top: 90%;
  }
  .port-main{
    text-align: center;
  }
  .row {
    margin: 5px;
  }
  .container{
      background-color: rgb(241, 100, 194);
  }
  #bank, #3rdGallery {display:none;}

  .gbtn{
    position: relative;
    width: 30px;
    height: 30px;
    padding: 0px;
    margin: 0px;
    border: 1px black solid;
  }