//////////////////////////////////////////////////////////////PORTFOLIO PAGE STYLES////////////////////////////////////

.header-portfolio{
    @include header;
  }
  
  .empty-space{
    height: 100px;
    width: 1515px;
  
    margin-top: 90%;
  }
  .port-main{
    text-align: center;
  }
  .row {
    margin: 0px;
  }
  .container-flush{
    background-color: aliceblue;
  }
  #bank, #3rdGallery {
    display:none;
  }

  .gbtn{
    position: relative;
    width: 30px;
    height: 30px;
    padding: 0px;
    margin: 0px;
    border: 1px black solid;
  }

  .no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

