@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body,html{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}
/////////////////////////////////////MIXINS///////////////////////////////////////////////////////////////////////
@mixin port-img-dimensions{
  width: 290px;
  height: 220px;
}
@mixin about-img-dimensions{
width: 290px;
height: 240px;
}
@mixin position{  ///positioning for portfolio and team sections
  margin-top: 70px;
  margin-left: 15%;
  width: 700px;
  height: 100px;
  font-size: 1rem;
}
@mixin team-box-position{
  width: 230px;
  height: 230px;
}
@mixin stat2-box-size{
  width: 373px;
  height: 390px;
  margin-top: -25.9%;
}
@mixin header {
  width: 1515px;
  height: 200px;
  text-align: center;
  border: 1px solid black;
  background-color: #f2f2f2;
   a{
     text-decoration: none;
     color: black;
   }
   text-transform: uppercase;
}
///////////////////////////////////////////////////////////NAVIGATION/////////////////////////////////////////////////////////////
#navigation-container {
 
  margin: 0 auto;
  height: 70px;
}

.navigation-bar {
  background-color: rgb(253, 253, 253);
  height: 70px;
  width: 100%;
  text-align:center;
  padding: 20px;
  position: sticky;
  top:1px;
  z-index:999;
  
}
.navigation-bar img{
position: absolute;
top:0;
left:4%;
}
.navigation-bar ul {
 
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
}

.navigation-bar li {
  list-style-type: none;
  padding: 15px;
  display: inline;
}

.navigation-bar li a {
  color: black;
  font-size: 16px;
  text-decoration: none;
  line-height: 70px;
  // padding: 5px 15px;
  
}
.navigation-bar  .active{
  color:rgb(247, 20, 58);
}


  @import url(https://fonts.googleapis.com/css?family=Open+Sans);
  
  .search {
    width: 50%;
    position: absolute;
    margin-top:-70%;  
    margin-left:140%;  
    position: sticky;
    top:30px;
  }
  
  .searchTerm {
    float: left;
    width: 100%;
    border: 1px solid rgb(173, 172, 172);
    padding: 15px;
    height: 0.9px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: rgb(14, 15, 15);
  }
  
  .searchButton {
    position: absolute;  
    right: -40px;
    width: 40px;
    height: 32px;
    border : 1px solid rgb(173, 172, 172);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgb(17, 17, 17);
    text-align: center;
    color: #fff;
   
    cursor: pointer;
    font-size: 20px;
  }
  .wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  
  /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////HERO SECTION/////////////////////////////////////////////////////////////////
.hero{
  background-image: url("../images/code4ct-homepage.jpg");
  background-size: cover;
  height:90vh;
  padding: 0;
  width: 100%;
}
////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////ABOUT SECTION/////////////////////////////////
  .description{
    width: 500px;
    height:300px;
    margin-top: 5%;
    margin-left: 13%;
    font-size: 1.5rem;
  }
.images{
  width: 600px;
  height:500px;
  margin-top: -90%;
  margin-left:110%;
}
.img1{
  @include about-img-dimensions;
background-image: url("../images/about1.jpg");
background-size: cover;
box-shadow: 3px 3px ;
}
.img2{
  @include about-img-dimensions;
  margin-top: 14px;
  background-image: url("../images/about2.jpg");
  background-size: cover;
  box-shadow: 3px 3px ;
  }
  .img3{
    @include about-img-dimensions;
    margin-top: -82.3%;
    margin-left: 51%;
    background-image: url("../images/about3.jpg");
    background-size: cover;
    box-shadow: 3px 3px ;
  }
  .img4{
    @include about-img-dimensions;
    margin-top: 14px;
    margin-left: 51%;
    background-image: url("../images/about5.jpg");
    background-size: cover;
    box-shadow: 3px 3px ;
  }

  /////////////////////////////////////STATS/////////////////////////
 .stats{
  margin-top: 300px;
  width: 1515px;
  height:350px;
  background-color: #000000;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  text-align: center;
    
  }
  .coding{
  width: 378.78px;
  height: 350px;
  text-align: center;
       i {
        margin-top: 8%;
        }
  }

.communication{
  margin-top: -22%;
  width: 360px;
  height: 350px;
  margin-left: 51%;
  color: white;
}
.problem-solving{
  margin-top: -22.1%;
  width: 370px;
  height: 350px;
  margin-left: 26%;
  color: white;
}
.career-guidance{
  margin-top: -24%;
  width: 370px;
  height: 350px;
  margin-left: 75%;
  color: white;
}



///////////////////////////////////////////////PORFOLIO DESCRIPTION/////////////////
.port-des{
@include position;
}
.zoom{
  transition: transform .2s;
  &:hover{
    transform: scale(1.3);
  }
}
.port-img{
  margin-top: 40px;
  margin-left: 15%;
  width: 950px;
  height: 470px;

}
.port-img1{
  @include port-img-dimensions;
  
  background-image: url(../images/Code-Camp-2015-Girls-STEM.jpg);
  background-size: cover;
  box-shadow: 3px 3px ;
}
.port-img2{
 @include port-img-dimensions;
 box-shadow: 3px 3px ;
  margin-top:28px ;
  background-image: url(../images/Code-Camp-2015-Girls-STEM.jpg);
  background-size: cover;
}
.port-img3{
 @include port-img-dimensions;
 box-shadow: 3px 3px ;
  margin-left: 32%;
  margin-top: -49.3%;
  background-image: url(../images/Code-Camp-2015-Girls-STEM.jpg);
  background-size: cover;
}
.port-img4{
 @include port-img-dimensions;
 box-shadow: 3px 3px ;
  margin-left: 33%;
  margin-top:28px ;
  background-image: url(../images/Code-Camp-2015-Girls-STEM.jpg);
  background-size: cover;
}
.port-img5{
  width: 370px;
  height: 470px;
  margin-left: 65%;
  margin-top:-49.8%;
  background-image: url(../images/Code-Camp-2015-Girls-STEM.jpg);
  background-size: cover;
  box-shadow: 3px 3px ;
}
// ////////////////////////////////////////////////TEAM SECTION///////////////////

.team{
  @include position;
}
.team1{
  @include position;
  @include team-box-position;;
  border: 1px transparent;
  background-image: url(../images/Emma.png);
  background-size: cover;

}
.team1-des{
  @include team-box-position;
  border: 1px transparent;
  margin-left: 31.3%;
  margin-top: -15.3%;
  font-size: 0.85em;
}
.team2{
  @include position;
  @include team-box-position;;
  border: 1px transparent;
  background-image: url(../images/Andz.png);
  background-size: cover;
  margin-top: 3%;
}
.team2-des{
  @include team-box-position;
  border: 1px transparent;
  margin-left: 31.3%;
  margin-top: -15.3%;
  font-size: 0.85em;
}
.team3{
  @include team-box-position;;
  border: 1px transparent;
  background-image: url(../images/Tegan.png);
  background-size: cover;
  margin-top: -35.6%;
  margin-left: 50%;
}
.team3-des{
  @include team-box-position;;
  margin-left: 66.5%;
  font-size: 0.85em;
  border: 1px transparent;
  margin-top: -15.3%
}
.team4{
  @include team-box-position;;
  background-image: url(../images/Tracy.png);
  background-size: cover;
  margin-top: 3%;
  margin-left: 50%;
  border: 1px transparent;
}
.team4-des{
  @include team-box-position;;
  margin-left: 66.5%;
  font-size: 0.85em;
  border: 1px transparent;
  margin-top: -15.3%
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////STATS 2 SECTION///////////////////

.stats2{
  margin-top: 90px;
  width: 1515px;
  height:350px;
  background-color: #000000;
  font-family: 'Raleway', sans-serif;
  color: #fff;
}
.cups{
  width: 378.78px;
  height: 390px;
  text-align: center;
       i {
        margin-top: 30%;
        }
}
.nogirl{
  margin-left: 25.4%;
  @include  stat2-box-size;
  text-align: center;
  i {
    margin-top: 30%;
    }
}
.projects{
  @include  stat2-box-size;
  margin-left: 50.2%;
  text-align: center;
  i {
    margin-top: 30%;
    }
}
.hours{
  @include  stat2-box-size;
  margin-left: 75.3%;
  text-align: center;
  i {
    margin-top: 30%;
    }
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////SUBSCRIBE SECTION////////////////////////////////////

.sub{
  width: 400px;
  height: 300px;
  text-align: center;
  margin-top: 70px;
  margin-left: 37%;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////CAROUSEL////////////////////////////////////////////////

#carousel{
  width: 1515px;
  height:250px;
  border: #030303 1px solid;
  background-color: #000000;
  overflow: hidden;
}

  #carousel_center {
    width:100%;
    height: auto;
}
///////////////IMAGES IN CAROUSEL/////////////
#carousel_ul li img {
        width: 100%;
        height: 160px;

}
#carousel_ul {
  position: relative;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  top: 30px;
  width:112%;
}
//////////////CAROUSEL list
#carousel_ul li {
    width: 200px;
    height: 110px;
    padding: 0px;
    margin-right: 10px;
    float: left;
}
////////////CAROUSEL IMAGE SIZING
#carousel_ul li img {
        cursor: pointer;
        cursor: hand;
        border: 0px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////FOOTER///////////////////////////////////////////////////

.footer{
  margin-top: 70px;
  width: 1510px;
  height:350px;
  border: #fff 1px solid;
  background-color: #ffffff;
}
.tag{
  width: 1515px;
  height: 50px;
  border: rgb(255, 86, 218) 1px solid;
  // margin-top: 19.6%;
  background-color:rgb(243, 60, 90);
  color: white;
}
.col-1{
  width: 505px;
  height: 300px;
  border: #fff 1px solid;
    li{
      list-style: none;
    }
    i{
      margin-top: 15px;
      margin-left: 15px;
    }
    h3{
      margin-left: 60px;
    }
}

.col-2{
  margin-top: -20%;
  margin-left: 33.4%;
  width: 505px;
  height: 300px;
  border: #fff 1px solid;
    li{
      list-style-type: square;
    }
    a{
      text-decoration: none;
      color: black;
      &:hover{
        color: red;
      }
    }
    h3{
      margin-left: 40px;
    }
}
.col-3{
  margin-top: -20%;
  margin-left: 66.9%;
  width: 505px;
  height: 300px;
  border: #fff 1px solid;
  li{
    list-style-type: square;
  }
  a{
    text-decoration: none;
    color: black;
    &:hover{
      color: red;
    }
  }
  h3{
    margin-left: 40px;
  }
}
.span{
  float: right;
  margin-right: 9%;
  margin-left: 10px;
}
i{
  margin-left: 10px;
}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////ABOUT PAGE//////////////////////////////////////////////////////////////////////

.header-about{
@include header;
}
.h3-about-span{
  color: hotpink;
}

.images2{
  width: 600px;
  height:500px;
  margin-top: -90%;
  margin-left:110%;
  border: 1px solid black;
  background-image: url(../images/about5.jpg);
  background-size: cover;
}

.whoWeAre{
  width: 1514px;
  height: 500px;
  border: #ffffff 1px solid;
  margin-top: 25%;
   .info-image{
     width: 700px;
     height: 500px;
     border: #000000 1px solid;
     background-image: url(../images/about1.jpg);
   }
   .whoWeAre-des{
    width: 774px;
    height: 500px;
    border: #ffffff 1px solid;
    margin-left: 49%;
    margin-top: -33.3%;
    .wwhead{
      width: 774px;
      height: 100px;
      border: #ffffff 1px solid;
    }
    .vision{
      width: 380px;
      height: 200px;
      border: #ffffff 1px solid;
    }
    .mission{
      width: 380px;
      height: 200px;
      border: #ffffff 1px solid;
    }
    .help{
      width: 380px;
      height: 200px;
      border: #ffffff 1px solid;
      margin-top: -52%;
      margin-left: 382px;
    }
    .support{
      width: 380px;
      height: 200px;
      border: #ffffff 1px solid;
      margin-left: 382px;
    }
   }
}
.stats3{
  margin-top: 90px;
  width: 1514px;
  height: 300px;
  border: #000000 1px solid;
  background-color: #000000;
  .webDesign {
    height: 300px;
    width: 378px;
    border: #000000 1px solid;
  }
  .branding{
    height: 300px;
    width: 378px;
    border: #000000 1px solid;
    margin-top:-20%;
    margin-left: 25%;
  }
  .photography{
    height: 300px;
    width: 378px;
    border: #000000 1px solid;
    margin-top:-20%;
    margin-left: 50%;
  }
  .printDesign{
    height: 300px;
    width: 378px;
    border: #000000 1px solid;
    margin-top:-20%;
    margin-left: 75%;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////CONTACT PAGE STYLES////////////////////////////////////
.header-contact{
  @include header;
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////PORTFOLIO PAGE STYLES////////////////////////////////////

.header-portfolio{
  @include header;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////COURSE PAGE STYLES////////////////////////////////////
.header-courses{
  @include header;
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////SCROLL TO TOP ICON/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 30px;
  background: #1f1e1e;
  color: rgb(255, 251, 251);
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}
#back-to-top:hover {
  background: #7c1065;
}
#back-to-top.show {
  opacity: 1;
}
// Animate the size, outside
#back-to-top:hover, 
#back-to-top:focus {
  animation: pulse 2s;
  box-shadow: 0 0 0 2em rgba(#fff,0);
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}
$colors: (
  pulse: #f71485, 
);
@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 45deg)};
  }
}
button {  
  color: var(--color);
  transition: 0.25s;
  
  &:hover,
  &:focus { 
    border-color: var(--hover);
    color: #fff;
  }
}
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////MEDIA QUERIES////////////////////////////////////////

///////////////////////////////////////////////////INDEX PAGE/////////////////////////////////////////
@media screen and (max-width: 640px){
  
.description{
 
  margin-left: 200px;
  width: 640px;
  .images{
    margin-top: 50px;
    margin-left: 0px;
  }
}
.stats{
  justify-content: center;
  margin-top: 1000px;
  width: 1500px;
  height: 1500px;
  .coding, .communication, .problem-solving, .career-guidance{
    margin-left: 500px;
    margin-top: 0;
  }
}
.stats2{
  width: 1500px;
  height: 1500px;

  .cups, .nogirl, .projects, .hours{
    margin-left: 500px;
    margin-top: 0;
  }
}
.sub{
    margin-left: 500px;
  }
.team, .team1, .team2, .team3, .team4{
  margin-top: 20px;
  margin-left: 500px;
}
.team1-des, .team2-des, .team3-des, .team4-des{
  margin-top: 10px;
  margin-left: 500px;

}
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////