@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body,html{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}
/////////////////////////////////////MIXINS///////////////////////////////////////////////////////////////////////
@mixin port-img-dimensions{
  width: 290px;
  height: 220px;
}
@mixin about-img-dimensions{
width: 290px;
height: 240px;
}
@mixin position{  ///positioning for portfolio and team sections
  margin-top: 70px;
  margin-left: 15%;
  width: 700px;
  height: 100px;
  font-size: 1rem;
}
@mixin team-box-position{
  width: 230px;
  height: 230px;
}
@mixin stat2-box-size{
  width: 373px;
  height: 390px;
  margin-top: -25.9%;
}
///////////////////////////////////////////////////////////NAVIGATION/////////////////////////////////////////////////////////////
#navigation-container {
 
  margin: 0 auto;
  height: 70px;
}

.navigation-bar {
  background-color: rgb(253, 253, 253);
  height: 70px;
  // width: 100%;
  text-align:center;
  padding: 20px;
  position: sticky;
  top:1px;
  z-index:999;
  
}
.navigation-bar img{
position: absolute;
top:0;
left:4%;
}
.navigation-bar ul {
 
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
}

.navigation-bar li {
  list-style-type: none;
  padding: 15px;
  display: inline;
}

.navigation-bar li a {
  color: black;
  font-size: 16px;
  text-decoration: none;
  line-height: 70px;
  // padding: 5px 15px;
  
}
.navigation-bar  .active{
  color:rgb(247, 20, 58);
}


  @import url(https://fonts.googleapis.com/css?family=Open+Sans);
  
  .search {
    width: 50%;
    position: absolute;
    margin-top:-70%;  
    margin-left:140%;  
    position: sticky;
    top:30px;
  }
  
  .searchTerm {
    float: left;
    width: 100%;
    border: 1px solid rgb(173, 172, 172);
    padding: 15px;
    height: 0.9px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: rgb(14, 15, 15);
  }
  
  .searchButton {
    position: absolute;  
    right: -40px;
    width: 40px;
    height: 32px;
    border : 1px solid rgb(173, 172, 172);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgb(17, 17, 17);
    text-align: center;
    color: #fff;
   
    cursor: pointer;
    font-size: 20px;
  }
  .wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  
  /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////HERO SECTION/////////////////////////////////////////////////////////////////
.hero{
  background-image: url("../images/code4ct-homepage.jpg");
  background-size: cover;
  height:90vh;
padding: 0;
}
////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////ABOUT SECTION/////////////////////////////////
  .description{
    width: 500px;
    height:300px;
    // border: 1px solid black;
    margin-top: 5%;
    margin-left: 13%;
    font-size: 1.5rem;
  }
.images{
  width: 600px;
  height:500px;
  margin-top: -90%;
  margin-left:110%;
    //  border: 1px solid black;
}
.img1{
  @include about-img-dimensions;
// border: 1px solid black;
background-image: url("../images/about1.jpg");
background-size: cover;
}
.img2{
  @include about-img-dimensions;
  // border: 1px solid black;
  margin-top: 14px;
  background-image: url("../images/about2.jpg");
  background-size: cover;
  }
  .img3{
    @include about-img-dimensions;
    // border: 1px solid black;
    margin-top: -82.3%;
    margin-left: 51%;
    background-image: url("../images/about3.jpg");
    background-size: cover;
  }
  .img4{
    @include about-img-dimensions;
    // border: 1px solid black;
    margin-top: 14px;
    margin-left: 51%;
    background-image: url("../images/about5.jpg");
    background-size: cover;
  }

  /////////////////////////////////////STATS/////////////////////////
 .stats{
    background-color: #030303;
    
  }
  .coding{
    margin-top: 21%;
    width: 370px;
    height: 350px;
    margin-left: 5px;
    text-align: center;
    // border: 1px solid rgb(221, 214, 214);
    color: white;
  }
.communication{
  margin-top: -21%;
  width: 370px;
  height: 350px;
  margin-left: 50%;
  text-align: center;
  // border: 1px solid rgb(42, 27, 177);
  color: white;
}
.problem-solving{
  margin-top: -22%;
  width: 370px;
  height: 350px;
  margin-left: 25%;
  text-align: center;
  // border: 1px solid rgb(20, 175, 20);
  color: white;
}
.career-guidance{
  margin-top: -22%;
  width: 370px;
  height: 350px;
  margin-left: 75%;
  text-align: center;
  // border: 1px solid rgb(172, 27, 27);
  color: white;
}



///////////////////////////////////////////////PORFOLIO DESCRIPTION/////////////////
.port-des{
@include position;
}
.port-img{
  margin-top: 40px;
  margin-left: 15%;
  width: 950px;
  height: 470px;
  border: 1px solid rgb(172, 27, 27);
}
.port-img1{
  @include port-img-dimensions;
  border: 1px solid black;

}
.port-img2{
 @include port-img-dimensions;
  border: 1px solid black;
  margin-top:28px 
}
.port-img3{
 @include port-img-dimensions;
  border: 1px solid black;
  margin-left: 33%;
  margin-top: -49.8%;
}
.port-img4{
 @include port-img-dimensions;
  border: 1px solid black;
  margin-left: 33%;
  margin-top:28px 
}
.port-img5{
  width: 320px;
  height: 470px;
  border: 1px solid black;
  margin-left: 66%;
  margin-top:-49.8%
}
// ////////////////////////////////////////////////TEAM SECTION///////////////////

.team{
  @include position;
}
.team1{
  @include position;
  @include team-box-position;;
  border: 1px transparent;
  background-image: url(../images/Emma.png);
  background-size: cover;

}
.team1-des{
  @include team-box-position;
  border: 1px transparent;
  margin-left: 31.3%;
  margin-top: -15.3%;
  font-size: 0.85em;
}
.team2{
  @include position;
  @include team-box-position;;
  border: 1px transparent;
  background-image: url(../images/Andz.png);
  background-size: cover;
  margin-top: 3%;
}
.team2-des{
  @include team-box-position;
  border: 1px transparent;
  margin-left: 31.3%;
  margin-top: -15.3%;
  font-size: 0.85em;
}
.team3{
  @include team-box-position;;
  border: 1px transparent;
  background-image: url(../images/Tegan.png);
  background-size: cover;
  margin-top: -35.6%;
  margin-left: 50%;
}
.team3-des{
  @include team-box-position;;
  margin-left: 66.5%;
  font-size: 0.85em;
  border: 1px transparent;
  margin-top: -15.3%
}
.team4{
  @include team-box-position;;
  background-image: url(../images/Tracy.png);
  background-size: cover;
  margin-top: 3%;
  margin-left: 50%;
  border: 1px transparent;
}
.team4-des{
  @include team-box-position;;
  margin-left: 66.5%;
  font-size: 0.85em;
  border: 1px transparent;
  margin-top: -15.3%
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////STATS 2 SECTION///////////////////

.stats2{
  margin-top: 90px;
  width: 1515px;
  height:390px;
  border: #030303 1px solid;
  background-color: #000000;
  font-family: 'Raleway', sans-serif;
  color: #fff;
}
.cups{
  width: 378.78px;
  height: 390px;
  border: #f1dfdf 1px solid;
  text-align: center;
       i {
        margin-top: 30%;
        }
}
.nogirl{
  border: #a51e1e 1px solid;
  margin-left: 25.4%;
  @include  stat2-box-size;
  text-align: center;
  i {
    margin-top: 30%;
    }
}
.projects{
  @include  stat2-box-size;
  border: #201ea5 1px solid;
  margin-left: 50.2%;
  text-align: center;
  i {
    margin-top: 30%;
    }
}
.hours{
  border: #1ea535 1px solid;
  @include  stat2-box-size;
  margin-left: 75.3%;
  text-align: center;
  i {
    margin-top: 30%;
    }
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////SCROLL TO TOP ICON/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 30px;
  background: #1f1e1e;
  color: rgb(255, 251, 251);
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}
#back-to-top:hover {
  background: #7c1065;
}
#back-to-top.show {
  opacity: 1;
}
// Animate the size, outside
#back-to-top:hover, 
#back-to-top:focus {
  animation: pulse 2s;
  box-shadow: 0 0 0 2em rgba(#fff,0);
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}
$colors: (
  pulse: #f71485, 
);
@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 45deg)};
  }
}
button {  
  color: var(--color);
  transition: 0.25s;
  
  &:hover,
  &:focus { 
    border-color: var(--hover);
    color: #fff;
  }
}
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////